*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.main_block{
  max-width: 100vw;
  min-height: 100vh;
  background-size:25%; 
  position: relative;
  background-image: url(rock-paper-scissors-neon-icons-vector.jpg);
}

.header{
  margin-left: 50px;
  color:rgb(255, 255, 255);
}